/* line 2, ../sass/common.scss */
.w80 {
  width: 80px;
}

/* line 3, ../sass/common.scss */
.w100 {
  width: 100px;
}

/* line 4, ../sass/common.scss */
.w160 {
  width: 160px;
}

/* line 5, ../sass/common.scss */
.w300 {
  width: 300px;
}

/* line 6, ../sass/common.scss */
.w400 {
  width: 400px;
}

/* line 7, ../sass/common.scss */
.w500 {
  width: 500px;
}

/* line 9, ../sass/common.scss */
.h300 {
  height: 300px;
}

/* line 10, ../sass/common.scss */
.h1500 {
  height: 1500px;
}

/* line 12, ../sass/common.scss */
.bgLblue {
  background: #3498db;
}

/* line 13, ../sass/common.scss */
.bgDblue {
  background: #2980b9;
}

/* line 14, ../sass/common.scss */
.bgLred {
  background: #E75E5E;
}

/* line 15, ../sass/common.scss */
.bgDred {
  background: indianred;
}

/* line 16, ../sass/common.scss */
.bgLgreen {
  background: #1abc9c;
}

/* line 17, ../sass/common.scss */
.bgDgreen {
  background: #16a085;
}

/* line 18, ../sass/common.scss */
.bgLLgrreen {
  background-color: mediumaquamarine;
}

/* line 19, ../sass/common.scss */
.bgLgray {
  background: #bdc3c7;
}

/* line 20, ../sass/common.scss */
.bgDgray {
  background: #7f8c8d;
}

/* line 24, ../sass/common.scss */
.Lblue {
  color: #3498db;
}

/* line 25, ../sass/common.scss */
.Lred {
  color: #E75E5E;
}

/* line 26, ../sass/common.scss */
.Lgreen {
  color: #1abc9c;
}

/* line 27, ../sass/common.scss */
.gray {
  color: gray;
}

/* line 29, ../sass/common.scss */
.pl20 {
  padding-left: 20px;
}

/* line 31, ../sass/common.scss */
.pt10 {
  padding-top: 10px;
}

/* line 32, ../sass/common.scss */
.pt25 {
  padding-top: 25px;
}

/* line 34, ../sass/common.scss */
.ml20 {
  margin-left: 20px;
}

/* line 35, ../sass/common.scss */
.ml40 {
  margin-left: 40px;
}

/* line 38, ../sass/common.scss */
.fs12 {
  font-size: 12px;
}

/* line 39, ../sass/common.scss */
.fs14 {
  font-size: 14px;
}

/* line 40, ../sass/common.scss */
.fs20 {
  font-size: 20px;
}

/* line 41, ../sass/common.scss */
.fs26 {
  font-size: 26px;
}

/* line 42, ../sass/common.scss */
.fs30 {
  font-size: 30px;
}

/* line 43, ../sass/common.scss */
.fs40 {
  font-size: 40px;
}

/* line 45, ../sass/common.scss */
.fl {
  float: left;
}

/* line 46, ../sass/common.scss */
.cb {
  clear: both;
}

/* line 48, ../sass/common.scss */
.tc {
  text-align: center;
}

/* line 50, ../sass/common.scss */
hr.dotLine {
  border: 0;
  border-bottom: 1px dashed white;
  margin: 1px 0px 3px 0px;
}
