/* line 2, ../sass/Kanatis.scss */
.fs50:before {
  font-size: 50px;
}

/* line 8, ../sass/Kanatis.scss */
.fs60:before {
  font-size: 60px;
}

/* line 13, ../sass/Kanatis.scss */
html * {
  letter-spacing: 1px;
}

/* line 17, ../sass/Kanatis.scss */
body {
  font-family: Meiryo;
  background-color: #3a3a3a;
}

/* line 22, ../sass/Kanatis.scss */
header {
  position: fixed;
  width: 100%;
  background-color: rgba(25, 25, 25, 0.8);
  height: 70px;
  color: #ecf0f1;
  padding: 5px;
  margin: 0px;
  z-index: 50;
}
/* line 31, ../sass/Kanatis.scss */
header div {
  color: antiquewhite;
  padding-left: 20px;
  font-size: 36px;
  margin: 0px;
  line-height: 15px;
  font-family: Cursive;
}
/* line 38, ../sass/Kanatis.scss */
header div span {
  padding: -20px;
}

/* line 44, ../sass/Kanatis.scss */
footer {
  width: 100%;
  background-color: #2c3e50;
  height: 50px;
  width: 100%;
  position: relative;
  height: auto !important;
  line-height: 100%;
}

/* line 55, ../sass/Kanatis.scss */
#menu {
  margin-left: -160px;
  padding-top: 30px;
  position: fixed;
  top: 80;
  left: 160;
  width: 320px;
  bottom: 0;
  overflow-y: auto;
  background-color: #2a2a2a;
}

/* line 66, ../sass/Kanatis.scss */
#orderSwitch p {
  margin: 10px 0px 0px 0px;
  padding: 3px 3px 3px 3px;
  width: 70px;
}

/* line 72, ../sass/Kanatis.scss */
#taskSection {
  padding: 100px 0px 0px 320px;
}

/* line 76, ../sass/Kanatis.scss */
#formSection {
  padding: 5px 5px 5px 5px;
  height: 300px;
}
/* line 79, ../sass/Kanatis.scss */
#formSection .menuBtn {
  letter-spacing: 2.5px;
}

/* line 84, ../sass/Kanatis.scss */
#formSection > div {
  width: 300px;
  color: white;
  margin: 5px;
}

/* line 90, ../sass/Kanatis.scss */
#formSection form {
  background-color: floralwhite;
  height: 100%;
  padding: 0px 0px 0px 120px;
}

/* line 95, ../sass/Kanatis.scss */
#condForm .formTitle {
  background-color: #3498db;
}

/* line 98, ../sass/Kanatis.scss */
#sortForm .formTitle {
  background-color: #3bbcad;
}

/* line 101, ../sass/Kanatis.scss */
#taskCountBox {
  font-weight: bold;
  text-align: center;
  color: floralwhite;
}

/* line 107, ../sass/Kanatis.scss */
.task {
  color: #ecf0f1;
  margin: 5px 10px 5px 15px;
  min-width: 350px;
  max-width: 450px;
  float: left;
}

/* line 114, ../sass/Kanatis.scss */
.taskTable {
  color: white;
}
/* line 116, ../sass/Kanatis.scss */
.taskTable tr:nth-child(5) {
  height: 55px;
}

/* line 120, ../sass/Kanatis.scss */
.taskTable td {
  padding: 5px 5px 5px 5px;
}

/* line 127, ../sass/Kanatis.scss */
.taskHead p {
  padding-top: 3px;
}

/* line 131, ../sass/Kanatis.scss */
#taskCountBox div {
  width: 30%;
  float: left;
}

/* line 142, ../sass/Kanatis.scss */
#showCommentBtn {
  width: 120px;
  height: 120px;
  background-color: floralwhite;
  margin: 15px;
}

/* line 145, ../sass/Kanatis.scss */
#hideCommentBtn {
  width: 120px;
  height: 120px;
  background-color: floralwhite;
  margin: 15px;
}

/* line 148, ../sass/Kanatis.scss */
#downloadBtn {
  width: 120px;
  height: 120px;
  background-color: floralwhite;
  margin: 15px;
}

/* line 151, ../sass/Kanatis.scss */
#resetTodayTimeBtn {
  width: 120px;
  height: 120px;
  background-color: floralwhite;
  margin: 15px;
}

/* line 154, ../sass/Kanatis.scss */
#howToBtn {
  width: 120px;
  height: 120px;
  background-color: floralwhite;
  margin: 15px;
}

/* line 158, ../sass/Kanatis.scss */
#sortForm fieldset {
  padding-top: 25px;
}

/* line 161, ../sass/Kanatis.scss */
#newTaskForm fieldset {
  padding-top: 15px;
}

/* line 164, ../sass/Kanatis.scss */
#condForm fieldset {
  padding-top: 25px;
}

/* line 168, ../sass/Kanatis.scss */
#addTaskBtn {
  font-size: 12px;
  border: none;
  color: #d95151;
  background-color: #FBCBCB;
}

/* line 175, ../sass/Kanatis.scss */
.inputFieldSet div {
  padding-top: 7px;
}

/* line 179, ../sass/Kanatis.scss */
#ascBtn:hover {
  opacity: 0.7;
}

/* line 183, ../sass/Kanatis.scss */
.blur {
  -webkit-filter: blur(5px);
}

/* line 187, ../sass/Kanatis.scss */
.wall {
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: black;
  opacity: 0.5;
  z-index: 1;
}

/* line 196, ../sass/Kanatis.scss */
.taskHead {
  position: relative;
  margin: 0px;
  padding: 5px 10px 5px 15px;
  transition-property: all;
  transition-duration: 0.3s;
  transition-timing-function: ease-out;
}
/* line 203, ../sass/Kanatis.scss */
.taskHead .taskTodayTime {
  transition-property: all;
  transition-duration: 0.2s;
  transition-timing-function: ease-out;
}

/* line 209, ../sass/Kanatis.scss */
.taskHead p {
  margin: 0px;
}

/* line 213, ../sass/Kanatis.scss */
.taskBody {
  margin: 0px;
  padding: 5px 10px 5px 15px;
}

/* line 218, ../sass/Kanatis.scss */
.commentForm {
  padding: 10px 10px 5px 15px;
}

/* line 222, ../sass/Kanatis.scss */
.commentBody {
  margin: 0px;
  padding: 0px 0px 0px 0px;
}

/* line 227, ../sass/Kanatis.scss */
.date {
  text-align: right;
  font-size: 8px;
  margin: 0px;
}

/* line 233, ../sass/Kanatis.scss */
.commentDeleteBtn {
  text-align: right;
  margin: 0px;
  padding: 5px 10px 0px 0px;
}

/* line 239, ../sass/Kanatis.scss */
.taskDeleteBtn {
  text-align: right;
  margin: 0px;
}

/* line 244, ../sass/Kanatis.scss */
.toggleComment {
  text-align: right;
  margin: 0px;
}

/* line 249, ../sass/Kanatis.scss */
.formTitle {
  height: 100%;
  width: 110px;
  background-color: #F25C55;
}

/* line 255, ../sass/Kanatis.scss */
.formTitle:hover {
  opacity: 0.9;
}

/* line 262, ../sass/Kanatis.scss */
.formTitle > p {
  padding: 90px 0px 10px 0px;
  margin: 0px;
  text-align: center;
}

/* line 267, ../sass/Kanatis.scss */
.formTitle > img {
  padding: 80px 10px 0px 10px;
  margin: 0px;
}

/* line 273, ../sass/Kanatis.scss */
#csvSection {
  left: 50%;
  top: 30%;
  transform: translate(-50%, -50%);
  color: #F25C55;
  z-index: 1;
  position: absolute;
  background-color: rgba(255, 228, 196, 0.88);
  padding: 30px;
  width: 700px;
  box-shadow: #c9a376 1px -1px 30px 9px;
  text-align: center;
  -webkit-box-shadow: #c9a376 1px -1px 30px 9px;
  -moz-box-shadow: #c9a376 1px -1px 30px 9px;
}
/* line 287, ../sass/Kanatis.scss */
#csvSection .title {
  font-size: 20px;
  letter-spacing: 3px;
  margin: 0px;
  overflow: hidden;
  text-align: center;
}
/* line 293, ../sass/Kanatis.scss */
#csvSection .title i {
  font-size: 27px;
  padding-right: 10px;
}
/* line 298, ../sass/Kanatis.scss */
#csvSection .closeModal {
  position: absolute;
  right: 30px;
  top: 15px;
  font-size: 22px;
  margin: 0px;
}

/* line 308, ../sass/Kanatis.scss */
#howToSection {
  left: 15%;
  color: #F25C55;
  z-index: 1;
  position: absolute;
  background-color: rgba(255, 228, 196, 0.88);
  padding: 30px;
  width: 70%;
  height: 60%;
  slise-shadow: #c9a376 1px -1px 30px 9px;
  text-align: center;
  -webkit-box-shadow: #c9a376 1px -1px 30px 9px;
  -moz-box-shadow: #c9a376 1px -1px 30px 9px;
}
/* line 321, ../sass/Kanatis.scss */
#howToSection .title {
  font-size: 50px;
  letter-spacing: 3px;
  margin: 0px;
  overflow: hidden;
  text-align: center;
}
/* line 327, ../sass/Kanatis.scss */
#howToSection .title i {
  font-size: 80px;
  padding-right: 10px;
}
/* line 332, ../sass/Kanatis.scss */
#howToSection .body {
  float: left;
  padding: 20px;
  width: 240px;
}
/* line 336, ../sass/Kanatis.scss */
#howToSection .body .subTitle {
  font-size: 20px;
}
/* line 339, ../sass/Kanatis.scss */
#howToSection .body i {
  color: #F25C55;
}
/* line 343, ../sass/Kanatis.scss */
#howToSection .logo {
  margin-top: 80px;
}
/* line 345, ../sass/Kanatis.scss */
#howToSection .logo i {
  font-size: 280px;
}
/* line 349, ../sass/Kanatis.scss */
#howToSection .closeModal {
  position: absolute;
  right: 30px;
  top: 15px;
  font-size: 22px;
  margin: 0px;
}
/* line 356, ../sass/Kanatis.scss */
#howToSection .page2 {
  margin-top: 70px;
}
/* line 358, ../sass/Kanatis.scss */
#howToSection .page2 > div {
  margin: 50 auto 0;
  display: inline-block;
  color: #616161;
}
/* line 363, ../sass/Kanatis.scss */
#howToSection .page2 pre {
  color: gray;
  font-size: 14px;
  text-align: left;
}
/* line 369, ../sass/Kanatis.scss */
#howToSection .page3 {
  position: relative;
}
/* line 371, ../sass/Kanatis.scss */
#howToSection .page3 i {
  font-size: 400px;
  position: absolute;
  left: 30%;
  top: 37px;
  color: rgba(230, 13, 13, 0.18);
}
/* line 378, ../sass/Kanatis.scss */
#howToSection .page3 div {
  padding-top: 150px;
  font-size: 20px;
}

/* line 386, ../sass/Kanatis.scss */
.sashWrap {
  position: absolute;
  overflow: hidden;
  top: 0px;
  left: 0px;
  width: 100px;
  height: 80px;
}

/* line 394, ../sass/Kanatis.scss */
.sash {
  position: absolute;
  z-index: 5;
  top: 0px;
  left: -15px;
  width: 100px;
  padding: 5px 10px 5px 5px;
  letter-spacing: 2px;
  background: #FF5E58;
  color: white;
  font-size: 12px;
  font-weight: bold;
  box-shadow: -2px 2px 10px rgba(0, 0, 0, 0.7);
  -webkit-box-shadow: -2px 2px 10px rgba(0, 0, 0, 0.7);
  -moz-box-shadow: -2px 2px 10px rgba(0, 0, 0, 0.7);
  transform: rotate(-30deg);
  -webkit-transform: rotate(-30deg);
  -moz-transform: rotate(-30deg);
}
